body {
  margin: 0;
  background: black;
}
html,
body {
  overflow-x: hidden;
}

.canvas-layer {
  position: fixed;
  inset: 0;
  z-index: -9999;
}
.ui-layer {
  position: relative;
  z-index: 999999;
}